* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* чтобы padding и border входили в размер элемента */
}

html, body {
  height: 100%;
  background: black;
}





body {
  font-family: "Oswald", sans-serif ;
}